* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  display: flex;
  min-width: 600px;
  margin: 0;
  background-color: #43A047;  
}

.img-next {
  text-align: center;
}

.img-next img {
  display: inline-block;
  margin: 1em;
  width: 200px;
  opacity: 0.9;
}

.img-next img:hover {
  opacity: 1;
}

#board {
  position: absolute;
  left: 25%;
  width: 50vw;
  height: 50vw;
  min-width: 300px;
  min-height: 300px;
  overflow: hidden;
}

#pond,
#background {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
}

#background {
  z-index: 10;
  background-color: #1F5768;
}

#pond {
  z-index: 20;
  flex-wrap: wrap-reverse;
  flex-direction: column-reverse;
  align-content: space-between;
  justify-content: center;
}

.lilypad,
.frog {
  position: relative;
  width: 20%;
  height: 20%;
  overflow: hidden;
}

.lilypad .bg,
.frog .bg {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.frog .bg {
  background-size: 60% 60%;
}

.lilypad.green .bg {
  background-image: url("images/lilypad-green.svg");
}

.lilypad.red .bg {
  background-image: url("images/lilypad-red.svg");
}


.lilypad.yellow .bg {
  background-image: url("images/lilypad-yellow.svg");
}

.frog.green .bg {
  background-image: url("images/frog-green.svg"); 
}

.frog.red .bg {
  background-image: url("images/frog-red.svg");
}

.frog.yellow .bg {
  background-image: url("images/frog-yellow.svg");
}

.wrap {
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px)  {

  body,
  #sidebar {
    font-size: 13px;
  }

  .title {
    font-size: 26px;
  }
}